<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="./../../node_modules/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/javascript" href="./../../node_modules/jquery/dist/jquery.js">
		<link rel="stylesheet" type="text/css" href="/views/css/xlcd.css" />
		<link rel="stylesheet" type="text/css" href="/views/css/index.css">
	</head>

	<body>
		<div class="main">

			<!-- left -->
			<div class="left">
				<iframe src="/views/page_componnent/left.html" width="100%" height="100%" style="border: 0px;"></iframe>
			</div>

			<!-- right -->
			<div class="right">
				<!-- top -->
				<div class="top">
					<iframe src="/views/page_componnent/top.html" width="100%" style="border: 0px;"></iframe>
				</div>
				<hr>
				<div style="width: 60%; margin: 10px auto;">
					<form action="/index/add" method="post">
						<div class="form-group">
							<label for="name">书名</label>
							<input type="text" name="name" class="form-control" id="name" placeholder="请输入name">
						</div>
						<div class="form-group">
							<label for="author">作者</label>
							<input type="text" name="author" class="form-control" id="author" placeholder="请输入author">
						</div>
						<div class="form-group">
							<label for="count">数量</label>
							<input type="number" name="count" class="form-control" id="count" placeholder="请输入author">
						</div>
						<div class="form-group">
							<label for="catagory">类别</label>
							<input type="text" list="tishiinput" id="tishi" class="form-control" name="catagory" autocomplete="off"/>
							<datalist id="tishiinput">
								{{each catagory}}
								<option>{{$value.catagory}}</option>
								{{/each}}
							</datalist>
						</div>
						<div class="form-group">
							<label for="date">出版日期/批次</label>
							<input type="date" name="date" class="form-control" id="datecatagory" placeholder="请输入date">
						</div>
						
						<button type="submit" class="btn btn-info" style="width: 60%;margin: 10px 20%;">提交</button>
					</form>
				</div>
			</div>

		</div>
	</body>
	<script src="/node_modules/jquery/dist/jquery.js"></script>
	

</html>
