
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>阅读</title>
	<link rel="stylesheet" type="text/css" href="css/ui.css">
	<link href="favicon.ico" type="image/x-icon" rel="icon">
	<link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">
</head>
<body>
	<div class="aui-container">
		<div class="aui-page">
			<div class="header header-color">
				<div class="header-background"></div>
				<div class="toolbar statusbar-padding">
					<button class="bar-button back-button"  onclick="history.go(-1);"><i class="icon icon-back-sx"></i></button>
					<div class="header-title">
						<div class="title">阅读</div>
					</div>
				</div>
			</div>
			<div class="aui-text-top aui-l-content aui-l-content-clear">
				<div class="devider b-line"></div>
				<div class="aui-menu-list aui-menu-list-clear">
					<ul>
						<li class="b-line">
							<a href="http://azenui.com/">
								<div class="aui-icon"><img src="images/icon-png/icon-read1.png"></div>
								<h3>原创</h3>
								<div class="aui-time"><i class="aui-jump"></i></div>
							</a>
						</li>
						<li class="b-line">
							<a href="http://azenui.com/">
								<div class="aui-icon"><img src="images/icon-png/icon-read2.png"></div>
								<h3>帖子</h3>
								<div class="aui-time"><i class="aui-jump"></i></div>
							</a>
						</li>
						<li class="b-line">
							<a href="http://azenui.com/">
								<div class="aui-icon"><img src="images/icon-png/icon-read3.png"></div>
								<h3>评论</h3>
								<div class="aui-time"><i class="aui-jump"></i></div>
							</a>
						</li>
						<li class="b-line">
							<a href="http://azenui.com/">
								<div class="aui-icon"><img src="images/icon-png/icon-read4.png"></div>
								<h3>收藏</h3>
								<div class="aui-time"><i class="aui-jump"></i></div>
							</a>
						</li>
						<li class="b-line">
							<a href="http://azenui.com/">
								<div class="aui-icon"><img src="images/icon-png/icon-read11.png"></div>
								<h3>点赞</h3>
								<div class="aui-time"><i class="aui-jump"></i></div>
							</a>
						</li>
						<li class="b-line">
							<a href="http://azenui.com/">
								<div class="aui-icon"><img src="images/icon-png/icon-read12.png"></div>
								<h3>回复</h3>
								<div class="aui-time"><i class="aui-jump"></i></div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>