
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>浮层</title>
	<link rel="stylesheet" type="text/css" href="css/ui.css">
	<link href="favicon.ico" type="image/x-icon" rel="icon">
	<link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">
</head>

<body>
	<div class="aui-container">
		<div class="aui-page">
			<div class="ui-actionsheet show"> <!-- show 控制浮层 -->
				<div class="ui-actionsheet-cnt">
					<h4 class="b-line">亲 请上传您的照片</h4>
					<button class="b-line">相册</button>
					<button class="ui-actionsheet-del b-line">拍照</button>
					<button>取消</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>