<!DOCTYPE html>
<html>	
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="book/css/style.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href='book/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<!--//webfonts-->
<script src="book/js/jquery.min.js"></script>
</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});
});
</script>
 <!--SIGN UP-->
 <h1>登录</h1>
<div class="login-form" style="width: 60%">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
			<div class="clear">
			</div>
	<div class="avtar">
		<img  class="avtar_img" style="width: 100px; height: 100px; border-radius: 50%" src="book/images/bg1.jpg" />
	</div>
	<form method="post" action="">
			<input style="border-radius: 20px" type="text" class="username" name="form-username" placeholder="用户名"><br><br>
			<input style="border-radius: 20px" type="password" class="password" name="form-password" placeholder="密码"><br>
			<span style="color: darkgoldenrod; margin-right: 5px">没有用户名<a href="/register">点击注册</a></span>
			<div class="signin">
				<input type="submit" value="点击登录" >
			</div>
	</form>

</div>

<div class="copy-rights">
    <p>Copyright &copy; 2015.Company name All rights </p>
</div>

<script type="text/javascript" src="book/js/message.js"></script>
<script type="text/javascript" src="book/js/jquery.min.js"></script>
<script type="text/javascript" src="book/js/login.js"></script>
</body>
</html>