<!DOCTYPE html>
<html>
<head>
<title>register</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="book/css/style.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href='book/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<!--//webfonts-->
<script src="book/js/jquery.min.js"></script>
</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});	  
});
</script>
 <!--SIGN UP-->
 <h1>注册</h1>
<div class="login-form" style="width: 60%">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
			<div class="clear"> </div>
			<form method="post" action="">
					<input style="border-radius: 10px" type="text" class="username" name="username" placeholder="请输入用户名"><br><br><br>
					<input style="border-radius: 10px" type="password" class="password" name="password" placeholder="请输入注册密码">
					<input style="border-radius: 10px" type="password" class="re_password" name="repassword" placeholder="再次输入密码"><br>
                    <span style="color: darkgoldenrod; margin-right: 5px"><a href="/login">跳转登录</a></span><br>
					<div class="signin">
                        <input type="submit" class="submit" value="点击注册" >
                    </div>
			</form>

</div>

<div class="copy-rights">
    <p>Copyright &copy; 2015.Company name All rights </p>
</div>

<script type="text/javascript" src="book/js/message.js"></script>
<script type="text/javascript" src="book/js/jquery.min.js"></script>
<script type="text/javascript" src="book/js/register.js"></script>
</body>
</html>